@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&display=swap');

/* ================================ */
/* gerais */
.container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 4rem;
}

.text {
    max-width: calc(50vw);
    width: 620px;
}

img {
    max-width: 100%; /* imagem nunca maior que seu tamanho original */
    height: auto;
}

button.call-to-action {
    width: 200px;
    height: 50px;

    background: #222831;

    border-radius: 16px;
    
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

    transition: all .2s linear;
}

button.call-to-action:hover {
    background: #F05454;
}

h1, h2 {
    font-family: 'Antic Slab', serif;
    margin-bottom: 16px;
}

h1 {
    /* font-family: 'Playfair Display SC', serif; */
    /* font-size: 56px; */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: center;
    color: #fff;

    padding-top: 530px;
}

h2 {
    display: inline-block;
    border-bottom: 3px solid #222831;
    padding-bottom: 10px;
}

p {
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    text-align: left;
}

section:not(.intro, .info) {
    padding: 100px 0 90px 0;
}

section.sobre,
section.vagas,
section.mulheres,
section.tutoriais {
    background: rgba(240, 84, 84, 0.1); 
}

.pessoas .container,
.mulheres .container,
.tutoriais .container {
    flex-direction: column;
}

/* ================================ */
/* intro */
.intro {
    width: 100%;
    height: 765px;
    background-image: url(../img/banner-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* missao e valores */
.missao-valores .text,
.missao-valores .text p {
    text-align: end;
}
.missao-valores .text>p {
    margin-bottom: 30px;
}

/* vagas */
.vagas .text>p {
    margin-bottom: 30px;
}

/* ================================ */
/* painel de pessoas */
.pessoas-imagens div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pessoas-imagens {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: .9fr .1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
        "foto-1 foto-2 foto-2"
        "foto-1 foto-4 foto-5"
        "foto-3 foto-4 foto-5"; 
}
.foto-4 { grid-area: foto-4; }
.foto-2 { grid-area: foto-2; }
.foto-1 { grid-area: foto-1; }
.foto-3 { grid-area: foto-3; }
.foto-5 {
    grid-area: foto-5;

    width: 100%;
    height: 500px;
    min-height: 200px;
}
.foto {
    -webkit-box-shadow: 1px 4px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 1px 4px 15px 5px rgba(0,0,0,0.4);
}
.frase-inspiracao {
    background-color: #f054547c;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.5s linear;
}
.frase-inspiracao cite {
    text-align: center;
    font-size: 1.2rem;
}
.frase-inspiracao:hover {
    opacity: 1;
}
p.frase-inspiracao {
    color: #fff;

    font-family: 'Antic Slab';
}
p.frase-inspiracao cite {
    font-weight: bold;
}

/* ================================= */
/* carousel-wrapper */
.carousel-wrapper img {
    width: 50%;
}
.carousel-wrapper {
    height: 300px;
    width: 1000px;
    max-width: 100%;
    position: relative;
  
    margin: 0 auto;

    display: flex;
    justify-content: center;
}
.carousel-item{
    position: absolute;
    opacity:0;
    transition: all 0.5s ease-in-out;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev{
    left: 0;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}
.arrow-next{
    right: 0;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}
.light{
    color:white;
}
@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}
/*Select every element*/
[id^="item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
}
*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

/* ================================ */
/* code-break */
.code-break {
    width: 100%;
    height: 300px;

    background-image: url("../img/code-img-home.png");
}

/* ================================ */
/* SLIDER */
.slider {
    display: block;
    height: 400px;
    width: 600px;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.slider li {
    position: absolute;
    width: 100%;
}

.slider .img-tutorial {
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    /* height: 100%;  ocupar toda altura do container */
    height: 360px;
    width: 100%;
    vertical-align: top; /* img alinhada verticalmente em relação ao topo */
}

.slider input {
    display: none; /* nenhuma amostragem visual do elemento */
}

.slider label {
    background-color: #222831;
    border-radius: 16px;
    cursor: pointer;
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 10;

    bottom: -30px;
}

.slider li:nth-child(1) label {
    left: 44%;
}

.slider li:nth-child(2) label {
    left: 49%;
}

.slider li:nth-child(3) label {
    left: 54%;
}

.slider .img-tutorial {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ .img-tutorial {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider li input:checked ~ label {
    background-color: #F05454;

}

/* ================================ */
/* MEDIA */
@media(max-width: 1170px) {
    section:not(.intro, .info) {
        padding: 50px 0 45px 0;
    }
    .carousel-wrapper img {
        width: 30%;
    }
    .carousel-wrapper {
        height: 300px;
        width: 700px;
        max-width: 100%;
    }
    .carousel-item{
        padding: 0 100px;
    }
}

@media(max-width: 1060px) {
    .sobre .container {
        flex-direction: column;
        gap: 3rem;
    }
    .sobre .container .text {
        text-align: center;
        max-width: 100%;
    }
    .sobre .container .text p {
        text-align: center;
    }
    .pessoas-imagens {
        display: flex;
        flex-direction: column;
    }
    .pessoas-imagens div {
        width: 100%;
        height: 200px;
    }
}

@media(max-width: 970px) {
    .missao-valores .container {
        flex-direction: column-reverse;
    }
    .missao-valores .container .text {
        text-align: center;
    }
    .missao-valores .container .text p {
        text-align: justify;
    }
}

@media(max-width: 620px) {
    .slider label {
        width: 15px;
        height: 15px;
    }
    .vagas .container {
        flex-direction: column-reverse;
    }
    .vagas .container .text {
        text-align: center;
    }
    .vagas .container .text p {
        text-align: center;
    }
    .icon {
        /* DIMINUIR TAMANHO DOS ICONS */
        max-width: 200px;
    }
}

@media(max-width: 440px) {
    h1 {
        padding-top: 330px;
    }
    p {
        text-align: center;
        line-height: 1.6rem;
    }
    p cite {
        font-size: 1rem;
    }
}