@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');

button {
    font-family: 'Urbanist', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Antic Slab', serif;
}

h1 {
    font-size: 46px;
    width: 100%;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin: 30px auto;
    padding: 30px 0 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #222831;
    display: inline-block;
}

button.call-to-action a {
    color: white;
}

.banner {
    background-image: url(../img/inspiracoes-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2100px;
    width: 100%;
    margin: 0 auto;
    height: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.banner h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 5px;
    letter-spacing: 10px;
}

.banner p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* carrosel */
.profissoes .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.profissoes .container .subtitulo {
    display: block;
    margin-left: 50px;
}

.profissoes .container .info {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 25px;
    letter-spacing: 1px;
}

.profissoes .container .info .fotos img{
    width: 100%;
    max-width: 450px;
}

.profissoes .container .info .texto {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
}

.profissoes .container .info .texto .titulo {
    margin-bottom: 30px;
}

.profissoes .container .controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 150px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profissoes .container .controls button {
    width: 100%;
    max-width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profissoes .container .controls button img {
    width: 100%;
    max-width: 30px;
}

/* noticias */
.noticias {
    background-color: rgba(240, 84, 84, 0.1);
    text-align: center;
}

.noticias .subtitle {
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-size: 40px;
    width: 100%;
}

.noticias .container {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.noticias .container article {
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.noticias .container article .image img {
    background-color: #B1B1B1;
    width: 100%;
    max-width: 270px;
}

.noticias .container article .info {
    max-width: 100%;
    gap: 20px;
    flex-direction: column;
}

.noticias .container article .info p {
    text-align: left;
    line-height: 25px;
    letter-spacing: 1px;
}

.noticias .container article .info p a {
    color: #F05454;
}

.noticias .container article .info p a:hover {
    text-decoration: underline;
}

.noticias .container article .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 30px;
    flex-wrap: wrap;
}

/* pagina fundadoras */
.fundadoras .container {
    align-items: center;
    display: flex;
    flex-direction: column; 
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.fundadoras .container .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 400px;
    line-height: 42px; 
    flex-wrap: wrap;
}

.fundadoras .container .titulo img {
    max-width: 240px;
    height: 77px;
    margin-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #222831;
    width: 100%;
}

.fundadoras .container .galery {
    display: flex;
    align-items: center;
}

.fundadoras .container .galery figure {
    padding: 32px;
    text-align: center;
    font-size: 18px;
    text-indent: 0;
}

/* formulario */
.nps .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; 
}

.nps p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media (max-width: 1070px){
    .profissoes .info {
        width: 100%;
    }

    .profissoes .container .subtitulo{
        text-align: center;
    }

    .profissoes .container .info .titulo {
        text-align: center;
    }

    .noticias .container article .info { 
        flex-direction: row;
    }

    .fundadoras .container .galery {
        display: flex;
        flex-direction: column;
    } 

    .profissoes .container .info .fotos {
        width: 350px;
    }

}

@media (max-width: 660px) {
    .fundadoras .container .titulo img {
        align-self: center;
    }
    .fundadoras .container .titulo h2{
        border: 0px;
    }
}

@media (max-width: 440px) {
    .noticias .subtitle h2 {
        line-break: auto;
    }
}



