.paginacao {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.paginacao button {
    border: none;
    background-color: #F05454;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    max-width: 100%;
}