@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background: #e8e8e8;
    color: #222831;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    }