@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
    box-sizing: border-box;
}

header {
    color: #222831;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

body {
    background: #e8e8e8;
    margin: 0;
    padding: 0;
    color: #222831;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    max-width: 100%;
}

section.banner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    background-image: url('../img/tutoriais-foto1-banner.png');
}

section.tutoriais {
    color: #222831;
    font-family: 'Antic Slab', serif;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

section.tutoriais h2 {
    text-align: center;
    margin: 30px auto;
    padding: 30px 0 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #222831;
    display: inline-block;
    max-width: 100%;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}


.container li {
    padding: 2px;
    max-width: 100%;
}

section.space1 {
    background-color: #e8e8e8;
    padding: 50px;
    max-width: 100%;
}

section.tutoriais article {
    background-color: #fff;
    margin: 60px 0;
    max-width: 100%;
}


section.tutoriais article h3 {
    font-family: 'Antic Slab', serif;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 40px;
    border-bottom: 3px solid #222831;
    display: inline-block;
}

section.tutoriais article p {
    font-family: 'Urbanist', sans-serif;
    text-align: justify;
    padding: 20px 0 40px 0;
    max-width: 100%;
}

section.tutoriais article img {
    width: 200px;
    max-width: 100%;
}

section.tutoriais article a {
    font-family: 'Urbanist', sans-serif;
    text-decoration: underline;
    color: #F05454;
    max-width: 100%;

}

section.tutoriais article li {
    padding: 2px;
    max-width: 100%;
}

section.tutoriais article .texto {
    width: 500px;
    max-width: 100%;
}
section.outras-fontes {
    padding: 80px;
    max-width: 100%;
}

section.outras-fontes .fontes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
}

.container h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    max-width: 100%;
}

.paginacao button:hover {
    transition: 0.6s;
    background: #cc2d2d;
}

.paginacao button:active,
.botaoenviar:active {
    transition: 0.5s;
    background: #1f1d1d;
}

 @media (max-width: 899px) {
    .container {
        margin: 0 auto;
        padding-bottom: 0;
        gap: 0;
    }

    .container .texto {
        margin: 30px;

    }
    .outras-fontes .container h2 {
        text-align: center;
        margin-bottom: 45px;
    }
    section.tutoriais article .texto {
        width: 500px;
    }
    section.tutoriais h2 {
        margin-bottom: 0;
    }

} 
@media (max-width: 759px) {
    section.tutoriais article img {
        margin-top: 50px;
    }

    section.tutoriais article,
    section.tutoriais article p {
        text-align: center;
    }
}
