@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body {
    overflow-x: hidden;
}

section.top {
    padding: 70px 0;
    margin: 100px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.top h1 {
    padding: 12px;
    font-family: 'Antic Slab', serif;
    font-size: 36px;
    font-weight: normal;
}

section hr {
    width: 150px;
    border: 2px solid #343434;
}

section.top p {
    padding: 30px;
    font-size: 18px;
}

section.top .formulario {
    width: 60vw; 
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 10px;

    display: flex;
   justify-content: space-between;
}

section.top .formulario img.icon  {
    width: 40px; 
    height: 40px;
    margin: 0 10px;
   
}

section.top .formulario .input-localizacao img.icon  {
    margin: 3px 10px;
   
}

.input-cargo, 
.input-localizacao {
    display: flex;
    flex-direction: row;
}

section.top .formulario #lupa  {
    width: 40px; 
    height: 40px;
   
}

.formulario label {
    display: flex;
    text-align: center;
}

input {
    border: 0;
    width: 80%;
    outline: none;
    font-size: 16px;
    min-width:  220px;
}

input::placeholder {
    color: #AAA9A9;
}

button#search {
    width: 55px;
    height: 50px;
    background: #F05454;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

section.content {
    width: 100vw;
    padding: 0;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.content .job img {
    width: 70px;
    position: relative;
    top: -60px;
    left: 10px;
}

section.content .job-info {
    width: 340px;
    height: 250px;
    padding: 20px;
    margin: 30px 30px 50px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

section.content .text {
    padding: 20px 10px 10px;
    position: relative;
    top: -70px;
}


section.content .text h2{ 
    font-family: 'Antic Slab', serif;
}

section.content .text p{ 
    padding: 12px 0;
    color: #AAA9A9;
}

section.content .text .location{ 
    padding: 12px 0;
    color: #F05454;
    font-weight: 600;
}

section.container-paginacao {
    display: flex;
    justify-content: center;
    margin: 50px 0 100px ;
}



@media(max-width:1070px) {
    section.top .formulario {
        width: 40vw; 
        min-width: 340px;
        padding: 8px;
        background-color: none;
        border-radius: 10px; 
    
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    label, input {
        margin: 5px;
    }


    @media(max-width: 800px) {
        section.top {
            margin: 130px 0 0;
        }
    }
}